* {
    box-sizing: border-box;
    font-family: Lato;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* LAYOUT */
.container {
    width: 1000px;
    margin: 0 auto;
}

/* BUTTON */
.btn {
    display: inline-block;
    text-align: center;
    padding: 12px 10px;
    height: 50px;
    background-color: #2196f3;
    color: #fff;
    font-size: 20px;
    margin: 0;
    border: none;
    transition: all 0.3s;
    vertical-align: middle;
    cursor: pointer;
}
.btn--hover-effect:hover {
    transition: all 0.3s;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.btn--small {
    font-size: 16px;
    height: 30px;
    padding: 5px 10px;
}

.btn--round {
    border-radius: 5px;
}


/* Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}
.show .dropdown__content{
    display: block;
}

.dropdown__trigger::after {
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: 15px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 5px;
    content: '';
}

.dropdown__content {
    padding: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    display: none;
}

.dropdown__item {
    display: block;
    padding: 10px;
    background-color: white;

}
.dropdown__item:hover {
    background-color: #f4f4f4;
}


/* UTIL */
.background--blue1 {
    background-color: #2196f3;
}
